/existing_vocabs_exploration/data/
/existing_vocabs_exploration/data/EDR/
/existing_vocabs_exploration/data/ISicily-ISicily-cf52385/
/existing_vocabs_exploration/data/EDH_text_cleaned_2021-01-21.json
.Rproj.user
.Rhistory
.RData
.Ruserdata
._README.md
!/.gitignore
